EXPO_PUBLIC_API_URL="http://192.168.1.2:8000/api/v1"
SENTRY_AUTH_TOKEN="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"